<main>
  {{> public-navbar}}

  <section class="container mt-4 responsive-form">
    <h2 class="text-center">Sign Up</h2>

    <form id="sign-up-form">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirm-password">
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
      <div class="mb-3 text-center">
        <div id="error-message" class="form-text text-danger"></div>
      </div>
    </form>
  </section>
</main>